@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

:root {

    --clr-white:hsl(0, 0%, 100%);
    --clr-lightPink:hsl(275, 100%, 97%);
    --clr-grayisPurple:hsl(292, 16%, 49%);
    --clr-darkPurple:hsl(292, 42%, 14%);
    --clr-bringPink:hsl(280, 82%, 53%);
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;

}

/* <---------- HTML ELEMENTS ---------> */

body {
    background-color: var(--clr-lightPink);
    color:var(--clr-darkPurple);
    height: 100dvh;
    display: grid;
    grid-template-rows: 20rem auto 5rem;
}

h1 {

    font-size: 3rem;
}

h2 {

    font-size: 1.2rem;
}

main {

    display: flex;
    flex-direction: column;
    background-color: var(--clr-white);
    border-radius: 1.5rem;
    width:45rem;
    margin:1.5rem;
    padding: 2rem;
}

footer {

    justify-self: center;
    align-self: end;

}

/* <---------- HTML CLASSES ---------> */

.bg-banner {

    background-image: url(assets/images/background-pattern-desktop.svg);
    
}

.heading-wrapper {

    display: flex;
    padding-bottom: 1.75rem;
    gap:1.5rem
}

.icon {

    padding-left: .5rem;
}

.icon-minus {

    visibility: hidden;
    position:absolute;

}

.main-wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -10rem;
}

.main-wrapper p {

    font-size: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--clr-grayisPurple);
    line-height: 1.5rem;
    visibility: hidden;
    position:absolute;
}

.question-heading-wrapper {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
}

.question-heading-wrapper:hover {

    color:var(--clr-bringPink);
    cursor: pointer;
}

.question-heading-wrapper img {

    cursor: pointer;
}

.question-wrapper {

    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: solid;
    border-color: var(--clr-lightPink);
}

@media (max-width:775px) {
    
    main {

        width: 35rem;
    }
}

@media (max-width:600px) {
    
    main {

        width: 25rem;
    }
}